:root{
    --accent-1:#3F6610;
    --accent-2:#afc099;
}

article{
    grid-column:2/12;
    padding: 48px 0px;
    border-bottom: 2px solid var(--accent-2);
}

article h2{
    margin:24px 0px 12px 0px;
    text-align: center;
}

article p{
    margin-top:0px;
}

article img{
    height:clamp(250px, 30vw, 400px);
    margin: 6px auto;
    border: 3px solid #fff;
    border-radius:6px;
    display:block;
}


article ul li{
    list-style-position: inside;
}

article ul{
    padding-left:12px;
}

h4{
    color:var(--accent-1);
    margin-top:0px;
    padding-top:0px;
}

section{
    padding-bottom:0px;
}

#engine img{
    border-color:#FF7701;
}

#jack img{
    border-color:#EAB708;
}

#pathfinder img{
    border-color:#077013;
}

#sentinel img{
    border-color:#263475;
}

#spellwright img{
    border-color:#7217BD;
}

#troubadour img{
    border-color:#E9E895;
}

#witch img{
    border-color:#9D0B0B;
}

@media screen and (min-width:700px){

    article{
        display:grid;
        grid-template-areas: 
        "img title"
        "img content"
        "lists lists";
    }

    article:nth-child(odd){
        grid-template-areas: 
        "title img"
        "content img"
        "lists lists";
    }


    article h2{
        grid-area:title;
        text-align: left;
    }

    article p{
        grid-area:content;
    }

    article img{
        grid-area:img;
        margin:24px;
    }

    article .lists{
        grid-area:lists;
        display:grid;
        grid-template-areas:
        "reasons touchstones";
    }

    article .reasons{
        grid-area:reasons;
    }

    article .touchstones{
        grid-area:touchstones;
        margin-left:24px;
    }
}

@media screen and (min-width:1150px){

    article{
        display:grid;
        grid-template-areas: 
        "img title title"
        "img content content"
        "img lists lists";
    }

    article:nth-child(odd){
        grid-template-areas: 
        "title title img"
        "content content img"
        "lists lists img";
    }

}