:root{
    --accent-1:#3F6610;
    --accent-2:#56A3D1;
}

.faction, .location{
    margin:48px 0px;
}

.faction img, .location img{
    width:100%;
}


@media screen and (min-width:650px){

    .faction, .location{
        display:grid;
    }

    article{
        display:grid;
        grid-template-areas: 
        "img desc";
    }

    .faction:nth-child(odd), .location:nth-child(odd){
        grid-template-areas: 
        "desc img";
    }

    .faction:nth-child(odd), .location:nth-child(odd) h2{
        text-align: right;
    }

    .faction img, .location img{
        grid-area: img;
        width: clamp(250px, 30vw, 300px);
    }

    .faction-desc, .location-desc{
        grid-area:desc;
        padding: 0px 24px;
    }

    .faction-desc h2, .location-desc h2{
        margin-top:0px;
    }
}

