:root{
  --body-bg-color:#EDE0D0;
  --main-bg-color:#D6C7AE;
  --main-font-color:#615B55;
  --accent-1:#C9865E;
  --accent-2:#9C6849;
  --accent-3:#EDE0D0;
  --small-view:400px;
  --med-view:800px;
  --large-view:1200px;
}

html{
  box-sizing:border-box;
}

*, *:before, *:after{
  box-sizing:inherit;
}

body{
  background-color: var(--body-bg-color);
  background-image: url(../img/mountains.jpg);
  background-size:cover;
  background-repeat:no-repeat;
  background-position: center;
  background-attachment: fixed;
}

main{
  background-image: url(../img/paperTexture.jpg);
  background-size:cover;
  background-repeat:no-repeat;
  background-position: center;
  background-color: rgba(var(--main-bg-color-rgb), 0.5);
  background-blend-mode:overlay;
  margin:auto;
}

