:root{
  --body-bg-color:#DCC2A1;
  --main-bg-color:#DCC2A1;
  --main-bg-color-rgb: 220, 194, 161;
  --main-font-color:#615B55;
  --accent-1:#968A55;
  --accent-2:green;
  --accent-3:#fff;
}

html{
  box-sizing:border-box;
}

*, *:before, *:after{
  box-sizing:inherit;
}

/* Basic Bootstrap Cosmetic Overrides */

.btn-primary{
  background-color: var(--accent-2);
  border-color: darkgreen;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active{
  background-color: darkgreen;
  border-color: white;
}

.navbar{
  margin: 12px 0px;
  background-color: rgba(0, 0, 0, 0.5);
}

.navbar, .navbar a{
  color:white;
}

.navbar a:hover,  a :active{
  color:green;
}



/* Main */

body{
  background-color: var(--body-bg-color);
  background-image: url(../img/paperTexture.jpg);
  background-size:cover;
  background-repeat:no-repeat;
  background-position: center;
}

main{
  background-color: rgba(var(--main-bg-color-rgb), 0.5);
  margin:auto;
}

main img{
  width:100%;
}

header img{
  width:100px;
  height:100px;
}

#nav-banner{
  background-image: url(../img/banner.jpg);
  background-size:cover;
  background-repeat:no-repeat;
  background-position: center;
}

#navbarSupportedContent{
  justify-content: flex-end;
}

main #banner h1{
  padding-top:24px;
}

#carousel{
  max-height:500px;
  padding:0px;
  border: 4px solid green;
  border-radius:4px;
}

.carousel .carousel-item img {
  height: 400px;
  object-fit:cover;
  width: auto;
}