:root{
  --body-bg-color:#DCC2A1;
  --main-bg-color:#DCC2A1;
  --main-bg-color-rgb: 220, 194, 161;
  --main-font-color:#615B55;
  --accent-1:green;
  --accent-2:darkgreen;
  --accent-3:#fff;
}

html{
  box-sizing:border-box;
}

*, *:before, *:after{
  box-sizing:inherit;
}

/* Basic Bootstrap Cosmetic Overrides */

.btn-primary{
  background-color: var(--accent-1);
  border-color: var(--accent-2);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active{
  background-color: var(--accent-2);
  border-color: white;
}

.navbar{
  margin: 12px 0px;
  background-color: rgba(0, 0, 0, 0.5);
}

.navbar, .navbar a{
  color:white;
}

.navbar a:hover,  a :active{
  color:var(--accent-1);
}



/* Main */

body{
  background-color: var(--body-bg-color);
  background-image: url(../img/mountains.jpg);
  background-size:cover;
  background-repeat:no-repeat;
  background-position: center;
  background-attachment: fixed;
}

main{
  background-image: url(../img/paperTexture.jpg);
  background-size:cover;
  background-repeat:no-repeat;
  background-position: center;
  background-color: rgba(var(--main-bg-color-rgb), 0.5);
  background-blend-mode:overlay;
  margin:auto;
}



main #banner img{
  width:100%;
}

main #banner{
  padding:24px 0px;
}

header img{
  width:100px;
  height:100px;
}

.navbar-toggler{
  background-color: rgb(0, 0, 0, 0.5);
}

.img-border{
  border: 4px solid var(--accent-1);
  border-radius:4px;
}

#navbar{
  background-image: url(../img/banner.jpg);
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
  background-attachment:local;
}

#navbarSupportedContent{
  justify-content: flex-end;
}

#carousel{
  max-height:500px;
  padding:0px;
}

.carousel .carousel-item img {
  height: 400px;
  object-fit:cover;
  width: auto;
}

.carousel-caption{
  background-color: rgba(0, 0, 0, 0.7);
}

.carousel-caption{
  padding:6px;
}

#download-buttons button{
  margin:6px;
}

footer #copyright{
  margin:auto;
  background-color:rgba(var(--main-bg-color-rgb), 0.8);
}